# MIT License
# 
# Copyright (c) 2022 Cuintle.
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

graphical
skipx
#cmdline

keyboard --vckeymap=br-thinkpad --xlayouts='br (thinkpad)'

lang en_US.UTF-8 --addsupport pt_BR.UTF-8

network  --hostname=fedora

timesource --ntp-disable
timezone America/Bahia --utc

repo --name=fedora
repo --name=updates
repo --name=updates-testing

repo --name="rpmfusion-free" --mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-$releasever&arch=$basearch --install
repo --name="rpmfusion-nonfree" --mirrorlist=http://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-$releasever&arch=$basearch --install

repo --name="rpmfusion-free-updates" --mirrorlist=http://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-released-$releasever&arch=$basearch --install
repo --name="rpmfusion-nonfree-updates" --mirrorlist=http://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-released-$releasever&arch=$basearch --install

repo --name="rpmfusion-free-updates-testing" --mirrorlist=http://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-testing-$releasever&arch=$basearch --install
repo --name="rpmfusion-nonfree-updates-testing" --mirrorlist=http://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-testing-$releasever&arch=$basearch --install

url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch"

zerombr

clearpart --all --initlabel --disklabel gpt

bootloader --timeout 3 --append "rd.plymouth=0 plymouth.enable=0"

part /boot/efi --fstype=efi --fsoptions="umask=0077,shortname=winnt" --label=EFI --size 100
part /boot --fstype=ext4 --label=Boot --size 512

part btrfs.root_partition --fstype=btrfs  --size 5124 --fsoptions="compress-force=zstd:3,relatime,ssd_spread,space_cache=v2" --encrypted --luks-version=luks2 --pbkdf argon2id --passphrase "put_pass_here"

part btrfs.home_partition --fstype=btrfs  --grow --fsoptions="compress-force=zstd:1,relatime,ssd_spread,space_cache=v2" --encrypted --luks-version=luks2 --pbkdf argon2id --passphrase "put_pass_here"

btrfs none --label=fedora_root btrfs.root_partition
btrfs none --label=fedora_home btrfs.home_partition

btrfs / --subvol --name=root fedora_root
btrfs /var/lib/libvirt/images --subvol --name=libvirt_images fedora_root # Disable CoW

btrfs /home --subvol --name=home fedora_home

btrfs /home/cuintle/Documents --subvol --name=documents fedora_home
btrfs /home/cuintle/Downloads --subvol --name=downloads fedora_home
btrfs /home/cuintle/Music --subvol --name=music fedora_home
btrfs /home/cuintle/Videos --subvol --name=videos fedora_home
btrfs /home/cuintle/Projects --subvol --name=projects fedora_home

btrfs /home/cuintle/.local/share/flatpak --subvol --name=flatpaks_home fedora_home
btrfs /home/cuintle/.var --subvol --name=flatpaks_var fedora_home

btrfs /home/cuintle/.local/share/containers --subvol --name=containers_home fedora_home # Disable CoW
btrfs /home/cuintle/.local/share/libvirt/images --subvol --name=libvirt_images_home fedora_home # Disable CoW

rootpw --lock
user --name=cuintle --groups=wheel --password=$y$j9T$PYsarUuH0ERvDHsEz.Kgx0$KtPZLTSfwu3kvJz0G6Dscn2RrRP2bn12W2VHbr8m4h6 --iscrypted --gecos="Cuintle" --shell /usr/bin/zsh

services --disabled="sshd,bluetooth,dnf-makecache.timer,geoclue.service"

